/**
Hoja de estilo del proyecto
 */
body{
    background-color: gold;
    height: 100vh;
}
.texto-centrado{
    text-align: center;
}
.margen-top-100{
    margin-top:100px;
}

input{
    padding: 15px;
}
.material-symbols-rounded {
    font-size: 50px;
    color: orangered;
}
.header{
    height: 50px;
}
.color-naranja{
    background-color: orangered;
}
.color-amarillo{
    color:gold;
}

.caja-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: right;
}

.unbounded{
                font-family: "Unbounded", sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
            }

.correcta{
    color: green;
}
.incorrecta{
    color:red;
}